@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Fascinate+Inline&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;700&family=Varela&family=Varela+Round&family=Yellowtail&display=swap");
* {
  font-family: "Catamaran", sans-serif !important;
}
.draft-editor {
  min-height: 300px;
  max-height: max-content;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
